{% extends 'base_auth.html' %}
{% load static %}

{% block auth %}
  <form class="card" method="post">
    {% csrf_token %}
    {% if form.errors %}
      {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
      {% for field in form %}
          {% for error in field.errors %}
              <p class="alert alert-danger">{{ error }} </p>
          {% endfor %}
      {% endfor %}
    {% endif %}
    <div class="card-body p-6">
      <div class="card-title">Forgot Password</div>
      <p class="text-muted">Enter your email address and we'll email you a password reset link.</p>
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted">
    Forget it, I want to <a href="{% url 'login' %}">log in</a>.
  </div>
{% endblock auth %}