{% autoescape off %}
  <h3>Hi there,</h3>

  <p>
    You're receiving this mail because you requested a password reset on your Esusu Confam Account.
    <br />
    <br />
    Kindly click the link below to reset your password:
    <br />
    <br />
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  </p>

  <p>If clicking the link above doesn't work, please copy and paste it in your browser instead.</p>

  <p>Didn't make this request? You may ignore this mail and no change would be effected.</p>

  <p>
    Sincerely,
    <br />
    The Esusu Confam
  </p>
{% endautoescape %}